<!DOCTYPE html>
<html>
    <head>


<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    </head>
    <body>


	    <h1>What is this and how does it work?</h1>
	    <p>Some of the most popular queries that people type into Google take the form of "X vs Y". For example, if someone is either a) wondering which video streaming service to buy, or has just read the announcement for a new one and wonders how it compares to Netflix, they might Google "Netflix vs Amazon Prime". </p>

	    <p>If you can create helpful comparisons, they rank #1 on Google with relatively little effort. Just look at the current best results for a given query, and if they're mainly automated or "Crowdsourced" results from Slant, AlternativeTo, etc it is likely that there is a 'content gap'. People are asking for knowledge that is not well curated and presented.</p>

	    <p>This tool uses the Google Autocomplete API to find the top results for "`keyword` vs". It then does follow up checks to see how well the resulting keywords link up to each other as a graph (also see <a href="https://medium.com/applied-data-science/the-google-vs-trick-618c8fd5359f">The Google 'vs' trick</a> for a more detailed explanation of how this works.</p>

	    <p>We (ritza.co) built this tool because we use it internally to help us generate useful content.</p>


    </body>
    </html>